<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="title">Message Board</div>
	<div class="form">
<form method="POST" action = "/new">
	  <label>User</label>
	  <input type="text" name="message"><br>
	  <label>Message</label>
	<input type="text" name="author"><br>
  <button type="submit" class="btn">Submit</button>
</form>
</div>
</body>
</html>